@use '../../_css/common.scss' as *;

.productHero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;

  @include small-break {
    grid-template-columns: 1fr;
  }
}

.mediaWrapper {
  position: relative;
  min-height: 400px;
  background-color: var(--color-dark-50);

  @include small-break {
    min-height: 250px;
  }
}

.image {
  padding: 24px;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.categoryWrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-top: 8px;
}

.category {
  font-size: 16px;
}

.stock {
  color: var(--color-green-500);
}


.separator {
  color: var(--color-grey-500);
  padding: 0 10px;
}



.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--base);

  @include mid-break {
    width: 100%;
    gap: calc(var(--base) / 2);
  }
}


.warning {
  margin-bottom: calc(var(--base) * 1.5);
}

.description {
  padding: 30px 0;
}

.media {
  width: 50%;

  @include mid-break {
    width: 50%;
  }
}



.placeholder {
  background-color: var(--theme-elevation-50);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caption {
  color: var(--theme-elevation-500);
}

.addToCartButton {
  margin: 10px 20px;
}
